/* SideBar*/

.Sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 200px;
    padding-top: 20px;
    background-color: aliceblue;
    transition: width 0.3s;
}

.Sidebar .nav-link {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 10px 20px;
    color: black;
}

.Sidebar .description {
    font-size: 14px;
}

#toggleSidebar {
    position: fixed;
    top: 20px;
    left: 20px;
    z-index: 1000;
  }

.Sidebar .nav-link:hover {
    background-color: rgb(85, 156, 226);
}

@media (max-width: 480px) {
    .Sidebar {
        width: 60px;
    }

    .Sidebar .description {
        display: none;
    }

    .Sidebar .nav-link {
        justify-content: center;
    }
}

/*NavBar*/

